<template>
    <div class="px-4 py-5 my-5 text-center">
        <button class="btn btn-secondary" v-on:click="increase">증가</button>
        <h1>{{ count }}</h1>
        <button class="btn btn-secondary" @click="decrease">감소</button><br />
        <button class="btn btn-secondary" @click="increase10(10)">10증가</button>
    </div>
    <hr class="mb-4" />
    <!-- v3 에 와서 감싸지 않고 여러 태그를 사용해도 괜찮다. -->
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">{{ title }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">{{ subTitle }}</p>
            <p class="lead mb-4">{{ owner }}</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary!</button>
            </div>
        </div>
    </div>
    <div class="px-4 py-5 my-5 text-center">
        <p class="loead mb-4">v3 에서는 하나에 태그로 감싸지 않아도 된다.</p>
        <!-- Vuejs Directive -->
        <p v-text="owner"></p>
        <p class="loead mb-4">{{ `<p v-text="owner">Directive 사용시 텍스트를 넣으면 중간에 넣을 수 없으며 에러가 난다.</p>` }}</p>
        <input type="text" v-model="owner" />
        <div>{{ alertMessage }}</div>
        <p>V-html 코드를 심어서 위험한 상황 연출 가능 위험하다</p>
        <div v-html="alertMessage"></div>
        <img v-bind:src="imageSource" alt="random"> <br />
        <a :href="kkuislandUrl">KKu Island</a>
        <hr class="mb-4" />
        <h2 v-bind:class="{salmon: owner === 'kku', red: owner==='kkuisland' }">{{ owner }}</h2>
        <p>클래스 조건 바인드</p>

        <hr class="mb-4" />

        <div>
            <h2>v-if</h2>
            <h3>당신의 나이는 {{ age }} 입니다</h3>
            <input type="text" v-model="age" />
            <p class="text-info" style="font-size: 4rem;" v-if="age > 30">어른 입니다.</p>
            <p class="text-info" style="font-size: 4rem;" v-else-if="age < 30 && age > 15">청소년 입니다.</p>
            <p class="text-info" style="font-size: 4rem;" v-else>어린이 입니다.</p>
            <p v-if="age > 10">(if) v-if 태그 비 생성</p>
            <p v-show="age > 10">(show) v-show 태그 생성</p>
        </div>

        <hr class="mb-4" />

        <ul>
            <template v-for="(item, index) in list" :key="index">
                <li>
                    이름: {{ item.name }} idex: {{ index }} <br />
                    스킬:
                    <template v-for="skill, index in item.skill " :key="index">
                    <span>{{ skill }}:{{ index }}　</span>
                    </template>
                </li>
            </template>
        </ul>

    </div>

</template>

<script>
    export default {
        name: 'App',
        data: ()=> {
            return {
                title: `Welcome, KKu Island`,
                owner: `kku`,
                subTitle: `꾸 섬에서 즐거운 시간을 보내세요.`,
                imageSource: `https://placeimg.com/100/100/any`,
                kkuislandUrl: `http://kkuisland.com`,
                alertMessage: `<button onclick="document.querySelector('body').style.display = 'none'" >경고!!</button>`,
                age: 36,
                list: [
                    {name: 'kuinsoo', job: 'devaloper', skill:['php', 'JS', 'VUE']},
                    {name: 'miso', job: 'dog', skill:['sleep', 'Mung']},
                    {name: 'mom', job: 'sesin', skill:['all', 'power', '쵝오']}
                ],
                count: 0,
            }
        },
        methods: {
            increase() {
                this.count++
            },
            decrease() {
                console.log('decrease => ',this);
                this.count--
            },
            increase10(value) {
                this.count = this.count + value
            }
        }
    }
</script>

<style>
    input{font-size:20px;}
    .orange{color:orange;}
    .salmon{color:salmon;}
    .red{color:red;}
    .tab{white-space:pre;}
</style>
